[Unit]
Description=Hi version %i

[Container]
Exec=-listen=:8282 -text="Hi from %i"
Image=docker.io/caddy:2-alpine
Network=test-net.network
NetworkAlias=greet

[Install]
WantedBy=multi-user.target default.target
