[Unit]
Description=Hi version %i

[Container]
Exec=caddy respond --listen :80 "Hi from %i\n"
Image=docker.io/caddy:2-alpine
Network=test-net.network
PodmanArgs=--network-alias greet

[Install]
WantedBy=multi-user.target default.target
