[Unit]
Description=Reverse proxy

[Container]
Exec=caddy reverse-proxy --from :81 --to greet
Image=docker.io/caddy:2-alpine
Network=test-net.network
PublishPort=127.0.0.1:8080:81

[Install]
WantedBy=multi-user.target default.target
